/* width */
::-webkit-scrollbar {
    width: 10px;
    background: #15171a;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #15171a;
    margin-top: 56px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #2e8099; 
    border-radius: 5%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }